# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [2]:
empty_set = set()
print(empty_set)

set()

* create a non empty set
* print that set

In [4]:
non_empty_set = set([1,2,3,3,4])
print(non_empty_set)

{1, 2, 3, 4}

* iterate over the set and print results

In [5]:
for x in non_empty_set:
    print(x)

1
2
3
4

* add one item to the set

In [7]:
non_empty_set.add(6)
print(non_empty_set)

{1, 2, 3, 4, 6}

* add multiple items to the set

In [9]:
non_empty_set.update([7,8,9])
print(non_empty_set)

{1, 2, 3, 4, 6, 7, 8, 9}

* remove an item from a set if it is present in the set

In [10]:
non_empty_set.remove(6)
non_empty_set

{1, 2, 3, 4, 7, 8, 9}

* find maximum and minimum values of the set

In [14]:
print(max(non_empty_set))
print(min(non_empty_set))

9
1

* print the length of the set

In [15]:
print(len(non_empty_set))

7

* create an intersection of x and y

In [17]:
x = set([1,2,3])
y = set([2,3,4])
print(x.intersection(y))

{2, 3}

* create an union of x and y

In [18]:
print(x|y)

{1, 2, 3, 4}

* create difference between x and y

In [19]:
print(x.difference(y))

{1}

---------------
## Collections

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [38]:
from collections import Counter, defaultdict, deque, namedtuple

In [23]:
sentence = 'black cat jumped over white cat'
word_count = Counter(sentence.split(' '))
word_count

Counter({'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* print the most common words

In [24]:
word_count.most_common(1)

[('cat', 2)]

* count the occurences of words in the same sentence but now use **defaultdict**

In [28]:
d = defaultdict(int)

for k in sentence.split(' '):
    d[k] += 1
    
print(d.items())

dict_items([('black', 1), ('cat', 2), ('jumped', 1), ('over', 1), ('white', 1)])

* create deque from list set used in first exercise

In [32]:
d = deque(non_empty_set)
d

deque([1, 2, 3, 4, 7, 8, 9])

* append number 10 to deque

In [33]:
d.append(10)
d

deque([1, 2, 3, 4, 7, 8, 9, 10])

* remove element from the right end from deque

In [34]:
d.pop()
d

deque([1, 2, 3, 4, 7, 8, 9])

* remove element from the left end from deque

In [35]:
d.popleft()
d

deque([2, 3, 4, 7, 8, 9])

* delete all elements from deque

In [37]:
d.clear()
d

deque([])

* create named tuple (people) with name and surname as position names

In [39]:
People = namedtuple('People', ['name', 'surname'])
p = People('Kyle', 'Kulas')

* print name and surname

In [40]:
print(p.name, p.surname)

Kyle Kulas

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

In [44]:
l = ['a','b','c',1]
for index, element in enumerate(l):
    try:
        l[index] = element.upper()
    except:
        pass
print(l)

['A', 'B', 'C', 1]

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [49]:
def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Han"] = "brother in law"
    _dict["R2D2"] = "droid"
    print(f"Luke, I am your {_dict[text]}")

#### Task I
Fix errors in the function above so we can run following code

In [50]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father
Luke, I am your sister
Luke, I am your brother in law
Luke, I am your droid

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this

In [51]:
def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Han"] = "brother in law"
    _dict["R2D2"] = "droid"
    try:
        print(f"Luke, I am your {_dict[text]}")
    except:
        print(f"{text} is not in the relation with Luke")

In [52]:
relation_to_luke('aaa')

aaa is not in the relation with Luke