### NLP Data Preperation Exercise

In [1]:
# import pandas
import pandas as pd

In [2]:
# load dataset
dataset = pd.read_csv('https://media.geeksforgeeks.org/wp-content/uploads/Restaurant_Reviews.tsv', 
                      delimiter = '\t',
                      quoting=3)

* print top 10 rows

In [27]:

df= dataset.copy()
df.head(5)

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

* create a function that removes punctuation

In [12]:
def remove_punct(text):
    text = "".join([char for char in text if char not in string.punctuation])
    return text

In [13]:
df['review_punc'] = df['Review'].apply(lambda x: remove_punct(x))

df.head(10)

,Review,Liked,review_punc
0,Wow... Loved this place.,1,Wow Loved this place
1,Crust is not good.,0,Crust is not good
2,Not tasty and the texture was just nasty.,0,Not tasty and the texture was just nasty
3,Stopped by during the late May bank holiday of...,1,Stopped by during the late May bank holiday of...
4,The selection on the menu was great and so wer...,1,The selection on the menu was great and so wer...
5,Now I am getting angry and I want my damn pho.,0,Now I am getting angry and I want my damn pho
6,Honeslty it didn't taste THAT fresh.),0,Honeslty it didnt taste THAT fresh
7,The potatoes were like rubber and you could te...,0,The potatoes were like rubber and you could te...
8,The fries were great too.,1,The fries were great too
9,A great touch.,1,A great touch

* create a function that converts text to lowercase

In [15]:
def lower(text):
    return text.lower()

In [18]:
df['review_lower'] = df['Review'].apply(lambda x: lower(x))
df.head()

,Review,Liked,review_punc,review_lower
0,Wow... Loved this place.,1,Wow Loved this place,wow... loved this place.
1,Crust is not good.,0,Crust is not good,crust is not good.
2,Not tasty and the texture was just nasty.,0,Not tasty and the texture was just nasty,not tasty and the texture was just nasty.
3,Stopped by during the late May bank holiday of...,1,Stopped by during the late May bank holiday of...,stopped by during the late may bank holiday of...
4,The selection on the menu was great and so wer...,1,The selection on the menu was great and so wer...,the selection on the menu was great and so wer...

* import nltk and download stopwords

In [19]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\jesse\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

* create a function that removes stopwords

In [ ]:
def tokenize(text):
    tokens = text.split()
    return tokens

In [21]:
stopwords = nltk.corpus.stopwords.words('english')
def remove_stopwords(tokenized_text):
    text = [word for word in tokenized_text if word not in stopwords]
    return text

* import Lemmatizer from nltk and download wordnet

In [22]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\jesse\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

* create a function that lemmatizes text

In [43]:
def lemmatized(tokenized_text):
    text = [lemmatizer.lemmatize(x) for x in tokenized_text]
    return text

* import Stemming from nltk

In [25]:
nltk.download('punkt')
from nltk.stem import PorterStemmer
   
ps = PorterStemmer()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jesse\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

* create a function thath stems text

In [26]:
def stemed(tokenized_text):
    return [ps.stem(x) for x in tokenized_text]

* Define a function `'preprocess'` that applies all the preprocessing steps we defined above, **without** Stemming and Lemmatizing, to text.

In [37]:
def preprocess(df):
    df['Review_clean'] = df['Review'].apply(lambda x: lower(x))
    df['Review_clean'] = df['Review_clean'].apply(lambda x: remove_punct(x))
    df['Review_clean'] = df['Review_clean'].apply(lambda x: tokenize(x))
    df['Review_clean'] = df['Review_clean'].apply(lambda x: remove_stopwords(x))
    

    return df

* Create a new column in dataset with name 'Review_clean' and store the preprocessed reviews.

In [40]:
df.head(10)

,Review,Liked,Review_clean
0,wow... loved this place.,1,"[wow, loved, place]"
1,crust is not good.,0,"[crust, good]"
2,not tasty and the texture was just nasty.,0,"[tasty, texture, nasty]"
3,stopped by during the late may bank holiday of...,1,"[stopped, late, may, bank, holiday, rick, stev..."
4,the selection on the menu was great and so wer...,1,"[selection, menu, great, prices]"
5,now i am getting angry and i want my damn pho.,0,"[getting, angry, want, damn, pho]"
6,honeslty it didn't taste that fresh.),0,"[honeslty, didnt, taste, fresh]"
7,the potatoes were like rubber and you could te...,0,"[potatoes, like, rubber, could, tell, made, ah..."
8,the fries were great too.,1,"[fries, great]"
9,a great touch.,1,"[great, touch]"

* print top 10 rows of the dataset

* apply the lemmatizer function above on the 'Review_clean' column of the dataset.
* store the result in a 'Lemmatized' column

In [44]:
df['Lemmatized'] = df['Review_clean'].apply(lambda x: lemmatized(x))

* print top 10 rows of the dataset

In [53]:
lemmatizer.lemmatize('stopped')

'stopped'

* apply stemmer defined above on 'Review_clean' column of the dataset.
* store the result in 'Stemmed' column

In [48]:
df['Stemmed'] = df['Review_clean'].apply(lambda x: stemed(x))
df.head()

,Review,Liked,Review_clean,Lemmatized,Stemmed
0,wow... loved this place.,1,"[wow, loved, place]","[wow, loved, place]","[wow, love, place]"
1,crust is not good.,0,"[crust, good]","[crust, good]","[crust, good]"
2,not tasty and the texture was just nasty.,0,"[tasty, texture, nasty]","[tasty, texture, nasty]","[tasti, textur, nasti]"
3,stopped by during the late may bank holiday of...,1,"[stopped, late, may, bank, holiday, rick, stev...","[stopped, late, may, bank, holiday, rick, stev...","[stop, late, may, bank, holiday, rick, steve, ..."
4,the selection on the menu was great and so wer...,1,"[selection, menu, great, prices]","[selection, menu, great, price]","[select, menu, great, price]"

* print top 10 rows of the dataset

* Define a function `'preprocess_all'` that applies all the preprocessing steps we defined above, **with** Stemming and Lemmatizing, to text.