# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [4]:
num_1 = 1

In [ ]:
num_1=int(5); print(num_1)

#### 2. asign any number of type float to the variable "num_2"

In [3]:
num_2 = 2

In [ ]:
num_2=float(9) ; print (num_2)

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [6]:
total = num_1 + num_2

In [ ]:
total = num_1 + num_2; print(total)

#### 4. check the type of variable "total"

In [7]:
type(total)

int

#### 5. assign variable "height" with your height

In [10]:
height = 6

In [ ]:
print(height)

#### 6. asign variable "mass" with your weight

In [9]:
weight = 200

In [ ]:
print(weight)

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [12]:
bmi = weight / (height*height)

In [ ]:
bmi=mass/(height**2); print(bmi)

#### 8. print value from "bmi" variable

In [13]:
print(bmi)

5.555555555555555

# String

#### 1. Create variable "name" with your first name

In [9]:
name = "Jason"

In [20]:
print(name)

Jason

#### 2. Create variable "surname" with your surname

In [10]:
surname = "Cardinal"

In [23]:
print(surname)

Cardinal

In [6]:
surname="Cardinal"; print(surname)

Cardinal

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [61]:
name_surname = name + " " + surname

In [62]:
print(name_surname)

Jason Cardinal

In [11]:
name_surname=(f"{name} {surname}") ; print(name_surname)

Jason Cardinal

#### 4. print variable "name_surname"

In [49]:
print(name_surname)

Jason Cardinal

#### 5. print first letter from variable "name_surname"

In [51]:
print(name_surname[0])

J

In [12]:
name_surname[0]

'J'

#### 6. print your name (without enmpty space) from variable "name_surname"

In [56]:
name_surname1 = name + surname

In [57]:
print(name_surname1)

JasonCardinal

In [ ]:
print((name_surname).replace(" ",""))

#### 7. print your surname 10x (use variable surname)

In [58]:
print(name_surname1*10)

JasonCardinalJasonCardinalJasonCardinalJasonCardinalJasonCardinalJasonCardinalJasonCardinalJasonCardinalJasonCardinalJasonCardinal

In [ ]:
print((surname)*10)

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [71]:
message = "Hello, my name is" + " " + name_surname + "!"

In [ ]:
Greeting=("Hello my name is {}".format(name_surname)) ; print(Greeting)

#### 9. print "message" variable

In [72]:
print(message)

Hello, my name is Jason Cardinal!

## List

#### 1. create empty list with name "empty_list"

In [73]:
empty_list = []

In [ ]:
empty_list=[]; empty_list

#### 2. create list "heights" with five random values

In [15]:
heights = [4.2,5.4,6.2,6.3]

#### 3. print heights

In [16]:
print(heights)

[4.2, 5.4, 6.2, 6.3]

#### 4. print type of variable "heights"

In [77]:
print (type(heights))

<class 'list'>

#### 5. print second value from "heights"

In [78]:
print(heights[1])

5.4

#### 6. assign last three values from "heights" to another list "heights_2"

In [83]:
heights_2 = heights[1:4]

#### 7. print "heights_2"

In [84]:
print(heights_2)

[5.4, 6.2, 6.3]

In [17]:
heights_2=heights[-3:]
print(heights_2)

[5.4, 6.2, 6.3]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [85]:
list_all = heights + heights_2

In [ ]:
list_all=heights+heights_2; print(list_all)

#### 9. print "list_all"

In [86]:
print(list_all)

[4.2, 5.4, 6.2, 6.3, 5.4, 6.2, 6.3]

#### 10. print the type of "list_all"

In [87]:
print(type(list_all))

<class 'list'>

## Tuple

#### 1. create empty tuple with name empty_tuple

In [3]:
empty_tuple = ()
print(empty_tuple)

()

In [ ]:
empty_tuple=(); print(empty_tuple)

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [1]:
empty_tuple = ("jason",)

In [4]:
print(empty_tuple)

()

In [ ]:
empty_tuple[0]=("name")

#### 3. According to question number 2, what is the main difference between list and tuple?

In [ ]:
# Tuples are immutable; you can't change which variables they contain after construction. 
# However, you can concatenate or slice them to form new tuples!

In [ ]:
a = (1, 2, 3)
b = a + (4, 5, 6)  # (1, 2, 3, 4, 5, 6)
c = b[1:]  # (2, 3, 4, 5, 6)

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [5]:
empty_dict = dict([])
print(empty_dict)

{}

In [ ]:
empty_dict= {} ; print(empty_dict)

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [90]:
heights_dict = dict([
    ("Jason Cardinal", 6)
])

In [ ]:
heights_dict=dict([(name,height)]) ; print(heights_dict)

#### 3. asign another name and height to "heights_dict"

In [96]:
heights_dict = dict([
    ("Jason Cardinal", 6),
    ("Destiny Millar", 5.8)
])

In [ ]:
heights_dict["Luna"]=168 ; print(heights_dict)

#### 4. print "heights_dict" dictionary

In [93]:
print(heights_dict)

{'Jason Cardinal': 6, 'Destiny Millar': 5.8}

#### 5. print your height from the "heights_dict" dictionary

In [94]:
print(heights_dict["Jason Cardinal"])

6

In [ ]:
heights_dict["Salma"]

#### 6. print all values from "heights_dict" dictionary

In [99]:
list(heights_dict.values())

[6, 5.8]

In [ ]:
list(heights_dict.values())

#### 7. print all keys from "heights_dict" dictionary

In [100]:
list(heights_dict.keys())

['Jason Cardinal', 'Destiny Millar']