# Simple exercises for control structures in Python
- conditionals
- while loops
- for loops

## FOR loop

In [1]:
heights = [1.82,1.75,1.68,1.76,1.5]

#### 0. Use for loop to print values from "heights" list

In [7]:
heights = [1.82,1.75,1.68,1.76,1.5]
fam = heights  
for heights in fam :
        print(heights)

1.82
1.75
1.68
1.76
1.5

#### 1. Use for loop for printing only values bigger than 1.75

In [16]:
for heights in fam :
    if heights > 1.75:
        print (heights)

1.82
1.76

#### 2. Use for loop for printing all values until you find value 1.68 (included)

In [19]:
for heights in fam :
    if heights < 1.69:
        print (heights)

1.68
1.5

#### 3. Modify the previous loop to print all values from `"heights"` without value 1.68

In [24]:
for heights in fam :
    if heights != 1.68:
        print (heights)

1.82
1.75
1.76
1.5

#### 4. use for loop over to iterate over `"heights"` and print "high" for values bigger than 1.75, "medium" for values between 1.68 and 1.75 and "small" for values lower than 1.68

In [ ]:
for heights in fam :
    if heights > 1.75 :
        print("High: " + str(heights))
        
for heights in fam :
    if heights <= 1.75 :
        print("Medium: " + str(heights))        
        
for heights in fam :        
    if heights < 1.68 :
        print("Small: " + str(heights))

## WHILE loop

#### 1. Print out numbers from 0 to 4

In [55]:
numbers = [0,1,2,3,4]

for x in numbers :
    if x < 5 :
        print(x)

0
1
2
3
4

#### 2. use while loop to print out only even numbers lower than 15
hint : use `"%"` modulo operator

In [ ]:
i=2
while i <= 15:
    if ( i % 2==0):
        print (i, end=', ')
    i+=1

#### 3. use while loop to print all numbers lower than 15 but skip first five values

In [ ]:
for i in [x for x in xrange(15) if x != 5]:

In [ ]:
print(i)

## Actors
We have two lists actors and roles which are defined below:

In [ ]:
actors = [
    "Nathan Fillion",
    "Gina Torres",
    "Alan Tudyk",
    "Morena Baccarin",
    "Adam Baldwin",
    "Jewel Staite",
    "Sean Maher",
    "Summer Glau",
    "Ron Glass"
]

roles = [
    "Captain Malcolm Reynolds",
    "Zoe Washburn",
    "Hoban Washburn",
    "Inara Serra",
    "Jayne Cobb",
    "Kaylee Frye",
    "Dr. Simon Tam",
    "River Tam",
    "Derrial Book"
]

We would like to produce a credit reel, by matching each actor with their role in the show. We know that both lists are in the correct order, such that for any number—let's say `n`—we know that `actors[n]` and `roles[n]` match. For example, `actors[3]` gives us "Morena Baccarin," and `roles[3]` gives us "Inara Serra," so we know that Morena Baccarin played Inara Serra in the show. **We want to print out the credits for all of the actors in the list.**

Here's an example of what we want to see when the code runs:

Featuring:<br>
=============<br>
Nathan Fillion as Captain Malcolm Reynolds"<br>
....